<section id="about" class="about-us">
  <div class="container about-us-container">
    <div class="about-us-p element-animation">
      <h2 class="about-us-title">About Us</h2>
      <div class="about-us-list list">
        <p class="about-us-text">
          The store "Vyshyvanka Vibes" is a place where traditional Ukrainian
          vyshyvanka comes to life with new zest and style. Our store offers a
          wide selection of high-quality and authentic embroidery, which
          combines the elegance of traditional needlework and modern design.
        </p>
        <p class="about-us-text">
          In "Vyshyvanka Vibes" you will find various models of embroidery, from
          classic to modern, corresponding to the latest fashion trends. Our
          embroidery is made using natural fabrics and is embroidered by highly
          qualified craftsmen who convey the beauty of Ukrainian culture in
          every detail.We believe that vyshyvanka is not just clothing, but a
          symbol of national pride, the heritage of our ancestors and a way of
          expressing one's individuality. Each embroidery from "Vyshyvanka
          Vibes" has its own unique history and symbolism, which gives it a
          special meaning.
        </p>
      </div>
    </div>
    <div class="about-us-cover-wrap">
      <picture class="about-picture element-animation">
        <source
          srcset="
            ./img/webp/girlandboy-desktop.webp 1x,
            ./img/webp/girlandboy-desktop@2x.webp 2x,
            ./img/webp/girlandboy-desktop@3x.webp 3x
          "
          media="(min-width: 1440px)">
        <source
          srcset="
            ./img/webp/girlandboy-laptop.webp 1x,
            ./img/webp/girlandboy-laptop@2x.webp 2x,
            ./img/webp/girlandboy-laptop@3x.webp 3x
          "
          media="(min-width: 1280px)">
        <source
          srcset="
            ./img/webp/girlandboy-tablet.webp    1x,
            ./img/webp/girlandboy-tablet@2x.webp 2x,
            ./img/webp/girlandboy-tablet@3x.webp 3x
          "
          media="(min-width: 768px)">
        <source
          srcset="
            ./img/webp/girlandboy-mobile.webp    1x,
            ./img/webp/girlandboy-mobile@2x.webp 2x,
            ./img/webp/girlandboy-mobile@3x.webp 3x
          "
          media="(max-width: 767px)">
        <img
          src="./img/webp/girlandboy-tablet.webp"
          alt="Ukrainian national clothes"
          width="704"
          height="545"
          class="about-us-img">
      </picture>
    </div>
  </div>
</section>
