<header class="header">
  <div class="container container-header">
    <a class="header-logo" href="./index.html">
      <img src="./img/svg/logo-min.svg" alt="logo" />
    </a>
    <div class="header-comp-nav">
      <nav class="header-nav">
        <ul class="header-menu-list">
          <li class="header-menu-item">
            <a class="header-menu-link" href="#about">About us</a>
          </li>
          <li class="header-menu-item">
            <a class="header-menu-link" href="#collection">Our collection</a>
          </li>
          <li class="header-menu-item">
            <a class="header-menu-link" href="#order">CUSTOMER ORDER</a>
          </li>
          <li class="header-menu-item">
            <a class="header-menu-link" href="#testimonials">TEstimonials</a>
          </li>
        </ul>
      </nav>
      <address class="address">
        <a class="address-link" href="tel:+380684439426">+380 (68) 443-94-26</a>
      </address>
    </div>
    <div class="container-soc">
      <ul class="header-list">
        <li class="header-iteam">
          <a
            class="header-link"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            aria-label="facebook"
            ><svg class="icon-heder" width="28" height="28">
              <use href="./img/svg/sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="header-iteam">
          <a
            class="header-link"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            aria-label="instagram"
            ><svg class="icon-heder" width="28" height="28">
              <use href="./img/svg/sprite.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-iteam">
          <a
            class="header-link"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
            aria-label="youtube"
            ><svg class="icon-heder" width="28" height="28">
              <use href="./img/svg/sprite.svg#youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
      <!-- MOB MENU -->
      <button
        id="mob-menu-btn"
        class="mob-menu-btn"
        type="button"
        title="button for open mobile menu"
      >
        <svg class="header-svg-nav" width="36" height="24">
          <use href="./img/svg/sprite.svg#nav"></use>
        </svg>
      </button>
    </div>
    <div id="mob-menu" class="mob-menu">
      <div class="mob-menu-top">
        <address class="mob-address">
          <a class="mob-address-link" href="tel:+380684439426"
            >+380 (68) 443-94-26</a
          >
        </address>
        <button
          id="mob-menu-close"
          class="mob-menu-close"
          type="button"
          title="button for close mobile menu"
        >
          <svg class="header-svg-close" width="36" height="36">
            <use href="./img/svg/sprite.svg#close"></use>
          </svg>
        </button>
      </div>
      <nav id="mob-nav" class="mob-nav">
        <ul class="mob-menu-list">
          <li class="mob-menu-item">
            <a class="mob-menu-link" href="#about">About us</a>
          </li>
          <li class="mob-menu-item">
            <a class="mob-menu-link" href="#collection">Our collection</a>
          </li>
          <li class="mob-menu-item">
            <a class="mob-menu-link" href="#order">CUSTOMER ORDER</a>
          </li>
          <li class="mob-menu-item">
            <a class="mob-menu-link" href="#testimonials">TEstimonials</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
