<section id="collection" class="section our-collection">
  <div class="container container-collection element">
    <h2 class="title-collection">Our collection</h2>
    <ul class="list-collection">
      <li class="item-collection-element element-animation">
        <picture class="picture-collection">
          <source
            srcset="
              ./img/webp/image-1.webp    1x,
              ./img/webp/image-1@2x.webp 2x,
              ./img/webp/image-1@3x.webp 3x
            "
            media="(min-width: 1280px)">
          <source
            srcset="
              ./img/webp/image-1.webp    1x,
              ./img/webp/image-1@2x.webp 2x,
              ./img/webp/image-1@3x.webp 3x
            "
            media="(min-width: 768px)">
          <source
            srcset="
              ./img/webp/image-1.webp    1x,
              ./img/webp/image-1@2x.webp 2x,
              ./img/webp/image-1@3x.webp 3x
            "
            media="(min-width: 320px)">
          <img
            class="collection-image"
            srcset="./img/webp/image-1.webp 1x, ./img/webp/image-1@2x.webp 2x, ./img/webp/image-1@3x.webp 3x"
						src="./img/webp/image-1.webp"
            alt="AUGUST Poltava women's blouseRING">
        </picture>
        <div class="content-collection">
          <h3 class="subtitle-collection sub">
            AUGUST Poltava women's blouse<span class="subtitle-span">RING</span>
          </h3>
          <p class="text-collection">3300 UAH</p>
        </div>
      </li>
      <li class="item-collection-element element-animation">
        <picture class="picture-collection">
          <source
            srcset="
              ./img/webp/image-2.webp    1x,
              ./img/webp/image-2@2x.webp 2x,
              ./img/webp/image-2@3x.webp 3x
            "
            media="(min-width: 1280px)">
          <source
            srcset="
              ./img/webp/image-2.webp    1x,
              ./img/webp/image-2@2x.webp 2x,
              ./img/webp/image-2@3x.webp 3x
            "
            media="(min-width: 768px)">
          <source
            srcset="
              ./img/webp/image-2.webp    1x,
              ./img/webp/image-2@2x.webp 2x,
              ./img/webp/image-2@3x.webp 3x
            "
            media="(min-width: 320px)">
          <img
            class="collection-image"
            srcset="./img/webp/image-2.webp 1x, ./img/webp/image-2@2x.webp 2x, ./img/webp/image-2@3x.webp 3x"
						src="./img/webp/image-2.webp"
            alt="Appearance of banking applications">
        </picture>

        <div class="content-collection element-animation">
          <h3 class="subtitle-collection">Women's blouse Gorgany</h3>
          <p class="text-collection">3350 UAH</p>
        </div>
      </li>
      <li class="item-collection-element element-animation">
        <picture class="picture-collection">
          <source
            srcset="
              ./img/webp/image-3.webp    1x,
              ./img/webp/image-3@2x.webp 2x,
              ./img/webp/image-3@3x.webp 3x
            "
            media="(min-width: 1280px)">
          <source
            srcset="
              ./img/webp/image-3.webp    1x,
              ./img/webp/image-3@2x.webp 2x,
              ./img/webp/image-3@3x.webp 3x
            "
            media="(min-width: 768px)">
          <source
            srcset="
              ./img/webp/image-3.webp    1x,
              ./img/webp/image-3@2x.webp 2x,
              ./img/webp/image-3@3x.webp 3x
            "
            media="(min-width: 320px)">
          <img
            class="collection-image"
            srcset="./img/webp/image-3.webp 1x, ./img/webp/image-3@2x.webp 2x, ./img/webp/image-3@3x.webp 3x"
						src="./img/webp/image-3.webp"
            alt="Appearance of banking applications">
        </picture>

        <div class="content-collection">
          <h3 class="subtitle-collection">Women's blouse Crimea</h3>
          <p class="text-collection">4000 UAH</p>
        </div>
      </li>
      <li class="item-collection-element element-animation">
        <picture class="picture-collection">
          <source
            srcset="
              ./img/webp/image-4.webp    1x,
              ./img/webp/image-4@2x.webp 2x,
              ./img/webp/image-4@3x.webp 3x
            "
            media="(min-width: 1280px)">
          <source
            srcset="
              ./img/webp/image-4.webp    1x,
              ./img/webp/image-4@2x.webp 2x,
              ./img/webp/image-4@3x.webp 3x
            "
            media="(min-width: 768px)">
          <source
            srcset="
              ./img/webp/image-4.webp    1x,
              ./img/webp/image-4@2x.webp 2x,
              ./img/webp/image-4@3x.webp 3x
            "
            media="(min-width: 320px)">
          <img
            class="collection-image"
            srcset="./img/webp/image-4.webp 1x, ./img/webp/image-4@2x.webp 2x, ./img/webp/image-4@3x.webp 3x"
						src="./img/webp/image-4.webp"
            alt="Appearance of banking applications">
        </picture>

        <div class="content-collection">
          <h3 class="subtitle-collection">Men's shirt Verkhovina</h3>
          <p class="text-collection">3100 UAH</p>
        </div>
      </li>
      <li class="item-collection-element element-animation">
        <picture class="picture-collection">
          <source
            srcset="
              ./img/webp/image-5.webp    1x,
              ./img/webp/image-5@2x.webp 2x,
              ./img/webp/image-5@3x.webp 3x
            "
            media="(min-width: 1280px)">
          <source
            srcset="
              ./img/webp/image-5.webp    1x,
              ./img/webp/image-5@2x.webp 2x,
              ./img/webp/image-5@3x.webp 3x
            "
            media="(min-width: 768px)">
          <source
            srcset="./img/webp/image-5.webp 1x, ./img/webp/image-5@2x.webp 2x, ./img/webp/image-5@3x.webp 3x"
            media="(min-width: 320px)">
          <img
            class="collection-image"
            srcset="./img/webp/image-5.webp 1x, ./img/webp/image-5@2x.webp 2x, ./img/webp/image-5@3x.webp 3x"
						src="./img/webp/image-5.webp"
            alt="Appearance of banking applications">
        </picture>

        <div class="content-collection">
          <h3 class="subtitle-collection">Mountain men's shirt</h3>
          <p class="text-collection">3300 UAH</p>
        </div>
      </li>
      <li class="item-collection-element element-animation">
        <picture class="picture-collection">
          <source
            srcset="
              ./img/webp/image-6.webp    1x,
              ./img/webp/image-6@2x.webp 2x,
              ./img/webp/image-6@3x.webp 3x
            "
            media="(min-width: 1280px)">
          <source
            srcset="
              ./img/webp/image-6.webp    1x,
              ./img/webp/image-6@2x.webp 2x,
              ./img/webp/image-6@3x.webp 3x
            "
            media="(min-width: 768px)">
          <source
            srcset="
              ./img/webp/image-6.webp    1x,
              ./img/webp/image-6@2x.webp 2x,
              ./img/webp/image-6@3x.webp 3x
            "
            media="(min-width: 320px)">
          <img
            class="collection-image"
            srcset="./img/webp/image-6.webp 1x, ./img/webp/image-6@2x.webp 2x, ./img/webp/image-6@3x.webp 3x"
						src="./img/webp/image-6.webp"
            alt="Appearance of banking applications">
        </picture>

        <div class="content-collection">
          <h3 class="subtitle-collection">Men's shirt Yasen</h3>
          <p class="text-collection">1700 UAH</p>
        </div>
      </li>
    </ul>
  </div>
</section>
