<section class="section section-order">
  <div class="order-green-girl"></div>
  <div id="order" class="container container-order">
    <div class="order-base">
      <div>
        <h2 class="order-title element-animation">
          <span class="order-your-order">Your order</span> is our priority:
          Personalized approach and quality of service
        </h2>
        <form class="order-form">
          <input
            class="order-form-input"
            type="text"
            name="full-name"
						pattern="[a-z]{1,15}"
            placeholder="Enter your full name"
            required>
          <input
            class="order-form-input"
            type="email"
            name="email"
            pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
            placeholder="Enter your email"
            required>
          <textarea
            class="order-form-textarea"
            name="order-comments"
            placeholder="Comments"
          ></textarea>
          <button class="order-form-btn" type="submit">
            <span class="order-send">Send</span>
            <svg class="order-arrow" width="26" height="16">
              <use href="./img/svg/sprite.svg#arrow"></use>
            </svg>
          </button>
        </form>
      </div>
      <div class="order-vest">
        <picture class="order-picture element-animation">
          <source
            srcset="
              ./img/webp/girl3-laptop-desktop.webp 1x,
              ./img/webp/girl3-laptop-desktop@2x.webp 2x,
              ./img/webp/girl3-laptop-desktop@3x.webp 3x
            "
            media="(min-width: 1280px)">
          <source
            srcset="
              ./img/webp/girl3-tablet.webp 1x,
              ./img/webp/girl3-tablet@2x.webp 2x,
              ./img/webp/girl3-tablet@3x.webp 3x
            "
            media="(min-width: 768px)">
          <img
						srcset="./img/webp/girl3-laptop-desktop.webp 1x,
              ./img/webp/girl3-laptop-desktop@2x.webp 2x,
              ./img/webp/girl3-laptop-desktop@3x.webp 3x"
            src="./img/webp/girl3-tablet.webp"
            alt="girl-vest"
            width="638"
            height="521"
            class="order-img">
        </picture>
      </div>
    </div>
  </div>
</section>
